        <footer>
            <div class="socialMedias">
                <img src="../assets/img/linkedin.png" alt="linkedin">
                <img src="../assets/img/facebook.png" alt="facebook">
                <img src="../assets/img/github.png" alt="github">
            </div>
            <div class="informations">
                <p>Terms of Use</p>
                <p>privacy policy</p>
            </div>
            <p class="copyright">
                &copy; 2022 DevKong company 
            </p>
        </footer>
    </body>
</html>