*{
    margin: 0;
    padding: 0; 
}

body{
    background: linear-gradient(90deg, hsl(204, 64%, 60%) 0%, hsl(55, 66%, 69%) 100%);
}

h1.title{
    text-align: center;
}

/* Players */
.pessoas{
    position: relative;
    width: 5vw;
    height: 0;
}
.pessoas img{
    position: relative;
    width: 5vw;
    display: block;
}

/* Elementos do jogo */

.quadra{
    background: url('../img/quadra.png');
    background-size: cover;
    background-repeat: round;
    position: relative;
    margin-left: 10vw;
    width: 80vw;
    height: 60vh;
    min-height: 400px;
    top: 2vw;
}
.bolin{
    position: relative;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    transition: 1s;
}
div.quadra div.arco{
    background: url("../img/arco.png") center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 4vw;
    height: 16vh;
    visibility: hidden;  
    position: relative;
}
div.quadra div.arcolinha{
    width: 5vw;
    position: relative;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    visibility: hidden;  
}
div.quadra div.arcolinha hr{
    position: relative;
    height: .2vh;
    width: 4vw;
    background: red;
    border: none;
    transition: 1s;
}
div.bocha{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: 1px solid black;
    visibility: hidden;
    transition: 1s;
}
div.bochas div.bocha{
    background: #46acc1;
} 
div.bochas2 div.bocha{
    background: #a141ad;
}
div.barraforca{
    text-align: center;
    width: 30vw;
    height: 8vh;
    position: relative;
    left: 30%;
    top: 35vh;
    visibility: hidden;
}
div.barraforca>div{
    border: 5px solid white;
    width: 30vw;
    height: 8vh;
}
div.forca{
    background: red;
    width: 50%;
    height: 100%;
}
div.barraforca p{
    font-size: 1.5em;
    color: white;
    font-weight: 900;
    margin-bottom: 1vw;
}