*{
    margin: 0;
    padding: 0; 
}
h1.title{
    text-align: center;
}
div.game{
    display: flex;
    justify-content: center;    
    align-items: center;
}
.pessoas{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.pessoas img{
    width: 4vw;
    transform: rotate(270deg);
}
.quadra{
    background: url('../img/quadra.png') no-repeat;
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column
}
.bolin{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    /* transition: 1s; */
}
.bochas{
    display: flex;
    flex-direction: column;
}
.bocha{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.time1 .bocha{
    background:  red;
}
.time2 .bocha{
    background: aqua;
}